.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  box-shadow: 3px 3px 6px #000;
  background: #090909;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sidebar .logo {
  margin-bottom: 40px;
}
.sidebar .logo img {
  width: 50px;
  height: 50px;
}
.main-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  background: #090909;

  padding: 30px;
}
.game-log {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #090909;
}
.game-log .header {
  padding: 30px 10px;
}
.game-log .header button {
  padding: 8px 20px;
  font-size: 16px;
  color: #fff;
  box-shadow: 2px 4px 10px rgba(146, 23, 23, 0.445);
  cursor: pointer;
}
.profile-log {
  background: rgb(179, 31, 31);
  color: #fff;
  font-size: 25px;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  width: 70%;
  height: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}
.banner .text {
  color: #fff;
}
.home .spider {
  position: absolute;
  top: 1rem;
  right: 30%;
  z-index: 999;
  width: 35vw;
  max-width: 400px;
  min-width: 250px;
}
.banner::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}
#root {
  width: 100vw;
  min-width: 100%;
}
.banner button {
  background: rgb(146, 23, 23);
  border: none;
  outline: none;
  width: 120px;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  font-size: 22px;
  margin-top: 30px;
}
.all-game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.all-game .game-card {
  width: 300px;
  height: 100px;
  padding: 20px;
  box-shadow: 2px 3px 12px rgb(0, 0, 0);
  background: rgb(12, 12, 12);
  margin: 20px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon svg {
  color: rgb(146, 23, 23);
  font-size: 42px;
  margin-right: 20px;
}
.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.link {
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}
.link svg {
  font-size: 28px;
  color: rgb(146, 23, 23);
}
.link:hover,
.link.active {
  background: rgba(146, 23, 23, 0.13);
  transition: all 0.3s ease-in-out;
}
.game-log-card {
  width: 90%;
  padding: 10px;
  background: rgb(23 23 23);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 15px 0;
}
.game-log-card .game-pro-icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-title {
  width: 100%;
  margin: 10px 0px 20px 0px;
  color: rgb(161, 160, 160);
}
.game-log-card p {
  color: #fff;
  font-size: 17px;
}
.game-log-card span {
  color: rgb(151, 150, 150);
  font-size: 13px;
  margin-left: 10px;
}
.game-log-card .game-pro-icon p {
  width: 40px;
  height: 40px;
  background: rgb(179, 31, 31);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.all-log {
  width: 100%;
}
.game-button {
  width: 100%;
  margin-top: 30px;
}
.game-button button {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-button button svg {
  margin-left: 10px;
  font-size: 18px;
}
